<div class="page-header">
  <h1>Add Expense Category <small>Please add your expense category</small></h1>
</div>
<div class = " col-md-12 col-sm-12 col-lg-12">
     <% if @expense_category.errors.any? %>
    <div class = "danger">
      <h2>
        <%= pluralize(@expense_category.errors.count, "error") %>
      </h2>
      <ul>
        <% @expense_category.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    <%if flash[:success].present?%>
      <div class="alert alert-success fade in fade_alerts">
        <strong>Success! </strong><%=flash[:success]%>.
      </div>
    <%end%>
</div>

<div class="container-fluid">
  <%= form_for @expense_category do |f| %>
    <div class = "row margin-bottom">
      <div class = "col-md-3"><label for="fromtime" class="control-label">Type: </label></div>
      <div class = "col-md-4"><%= f.text_field :source, :required => true, :class => "form-control"%></div>
      <div class = "col-md-3"></div>
    </div>
    <div class = "row margin-bottom">
      <div class = "col-md-3"><label for="fromtime" class="control-label">Description: </label></div>
      <div class = "col-md-4"><%= f.text_area:description, :required => true, :class => "form-control"%></div>
      <div class = "col-md-3"></div>
    </div>
    <div class = "row margin-bottom">
      <div class = "col-md-3"></div>
      <div class = "col-md-4"><%=f.submit 'Create Category', :class => ["btn", "btn-info"] , data: {disable_with: "Creating..."}%></div>
      <div class = "col-md-3"></div>
    </div>
  <% end %>
</div>
