<div class = " col-md-12 col-sm-12 col-lg-12">
     <% if @expense_category.errors.any? %>
    <div class = "danger">
      <h2>
        <%= pluralize(@expense_category.errors.count, "error") %>
      </h2>
      <ul>
        <% @expense_category.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    <%if flash[:success].present?%>
      <div class="alert alert-success fade in fade_alerts">
        <strong>Success! </strong><%=flash[:success]%>.
      </div>
    <%end%>
</div>

<div class="container-fluid">
<%= form_for @expense_category do |f| %>

  <div class = "row row-padding">
    <div class = "col-md-3 col-sm-6 col-lg-3 col-xs-8" >
      <label for="fromtime" class="control-label">Name: </label>
    </div>
    <div class = "col-md-4 col-sm-8 col-lg-4 col-xs-10" >
      <%= f.text_field :source, :required => true, :class => "form-control"%>
    </div>
  </div>

  <div class = "row row-padding">
    <div class = "col-md-3 col-sm-6 col-lg-3 col-xs-8" >
      <label for="fromtime" class="control-label">Description: </label>
    </div>
    <div class = "col-md-4 col-sm-8 col-lg-4 col-xs-10" >
      <%= f.text_area:description, :required => true, :class => "form-control"%>
    </div>
  </div>



    <div class = "row row-padding">
    <div class = "col-md-3 col-sm-6 col-lg-3 col-xs-8" >
    </div>
    <div class = "col-md-4 col-sm-8 col-lg-4 col-xs-10" >
       <%=f.submit 'Update category', :class => ["btn", "btn-info"] , data: {disable_with: "Updating..."}%>
    </div>
  </div>

<% end %>
</div>
