<% if user_signed_in? %>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
  <%end%>

<h1><%=current_user.name%></h1>

<h3>Income Category</h3>
 <li><%= link_to('Add Income Category',new_income_category_path) %></li>
 <li><%= link_to('View Income Categories', income_categories_path) %></li>

 <h3>Expense Category</h3>
 <li><%= link_to('Add Expense Category',new_expense_category_path) %></li>
 <li><%= link_to('View Expense Categories', expense_categories_path) %></li>
