<div class = "row">
  <div class = "col-md-4"></div>
  <div class = "col-md-4"></div>
  <div class = "col-md-4">
    <div class="list-group">
      <a href="#" class="list-group-item active">
        Current Month Status
      </a>
      <a href="#" class="list-group-item list-group-item-success">Income - Rs.<i><%=@user_monthly_status[:month_income] %></i> </a>
      <a href="#" class="list-group-item list-group-item-danger">Expense - Rs.<i><%=@user_monthly_status[:month_expense] %></i></a>
      <a href="#" class="list-group-item disabled">Budget Status - Rs.<i><%=@user_monthly_status[:diff] %></i></a>
    </div>
  </div>
</div>


<h3>Income Category</h3>
 <li><%= link_to('Add Income Category',new_income_category_path) %></li>
 <li><%= link_to('View Income Categories', income_categories_path) %></li>

 <h3>Expense Category</h3>
 <li><%= link_to('Add Expense Category',new_expense_category_path) %></li>
 <li><%= link_to('View Expense Categories', expense_categories_path) %></li>

 <h3>Income</h3>
 <li><%= link_to('Add Income',new_income_path) %></li>

 <h3>Expense</h3>
 <li><%= link_to('Add Expense',new_expense_path) %></li>

  <h3>Expense Filter</h3>
 <li><%= link_to('Filter Expense',expenses_path) %></li>

 <h3>Bank Statement</h3>
 <li><%= link_to('Bank Statement',transactions_path) %></li>



