<%if @transactions.present?%>
  <table class="table table-bordered table-hover">
    <tr class = "info">
      <th>Transaction ID</th>
      <th>Transaction Date:</th>
      <th>Transaction Type</th>
      <th class = "text-right">Transaction Amount:</th>
    <tr>
    <%@transactions.each do |transaction|%>
    <%if transaction.trans_type == "Income"%>
       <% color_row = "success" %>
    <%else%>
       <% color_row = "danger" %>
    <% end %>
      <tr class = "<%= color_row%>">
        <td><%= transaction.id%></td>
        <td><%= transaction.date.strftime("%d-%b-%y")%></td>
        <td><%= transaction.trans_type%></td>
        <td class = "text-right"><b><%= transaction.trans.amount%></b></td>
      </tr>
    <%end%>
  </table>
 <% else %>
 <h3>No transaction found for given period </h3>
 <%end%>
